.container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 50%;
}

.container input,
.container textarea,
.container select {
    padding: 20px;
    background-color: var(--bgSoft);
    border: none;
    border-radius: 5px;
    color: var(--textColor);
}

.container button {
    padding: 20px;
    cursor: pointer;
    background-color: var(--btn);
    color: var(--textColor);
    font-weight: bold;
    border: none;
    border-radius: 5px;
}

@media (max-width: 768px) {
    .container {
        width: 100%;
    }
}