.container {
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: brown; */
}

.wrapper {
    background-color: var(--bgSoft);
    width: 500px;
    padding: 50px;
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 30px;
    border-radius: 5px;
}

