.container {
    display: flex;
    align-items: center;
    gap: 10px;
}

.containerUserRight {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.detailTitle {
    color: gray;
    font-weight: bold;
}

.detailValue {
    font-weight: 500;
}
.avatar {
    border-radius: 50%;
}