/* USE WRAP */
.container {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

/* Show 3 posts */
.post {
    width: 30%;
}


@media (max-width: 1280px) {
    /* Show 2 posts */
    .post {
        width: 45%;
    }
}

@media (max-width: 768px) {
    /* Show 1 posts */
    .post {
        width: 90%;
    }
}