.container {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 20px;
}

/* selector */
/* selector */
/* selector */
.container input{
    padding: 20px;
    background-color: var(--bg);
    color: var(--textColor);
    border: none;
    border-radius: 5px;
  }
  
  .container button{
    padding: 20px;
    cursor: pointer;
    background-color: var(--btn);
    color: var(--textColor);
    font-weight: bold;
    border: none;
    border-radius: 5px;
  }