.container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-bottom: 20px;
}

.top {
    display: flex;
}

.bottom {
    display: flex;
    flex-direction: column;
    gap: 15px;

}

.imgContainer {
    position: relative;
    width: 90%;
    /* MUST has height */
    height: 400px;
}

.img {
    object-fit: cover;
}

/* rotate(270deg): not rotate('270deg') */
.date {
    margin: auto;
    transform: rotate(270deg);
    font-size: 12px;
}

.title {
    font-size: 24px;
    width: 90%;
}

.desc {
    width: 90%;
    font-weight: 300;
    color: gray;
}

.link {
    text-decoration: underline;
}